<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Home</title>

   <link rel="stylesheet" href="/static/styles/uikit.min.css">
   <link rel="stylesheet" href="/static/styles/custom.css">
</head>
<body class="uk-container" style="padding-top: 42px;">
   <h3>Halo <b><%= user.name %></b>,</h3>

   <div uk-grid>
      <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
         <div class="uk-card uk-card-default">
            <div class="uk-card-body">
               <h5>Tambah Tes</h5>
               <div class="uk-flex uk-flex-center">
                  <a href="/teacher/add-test" class="uk-button uk-button-default">
                     Tambah
                  </a>
               </div>
            </div>
         </div>
      </div>

      <% listUjian.forEach(function(item){ %>
      <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
         <div class="uk-card uk-card-default">
            <div class="uk-card-body">
               <h5><%= item.title %></h5>
               <div class="uk-flex uk-flex-center">
                  <a href="/teacher/dashboard-soal/<%= item.id %>" class="uk-button uk-button-default">
                     Edit
                  </a>
                  <a href="/teacher/<%= item.id %>/test-result" class="uk-button uk-button-default">
                     Hasil
                  </a>
               </div>
            </div>
         </div>
      </div>
      <% }); %>
   </div>

   <script src="/static/scripts/uikit.min.js"></script>
</body>
</html>